# Some substantial exclusions here:
__*/
__test*
.*/
secret*

# But keep sr.ht builds folder
!.builds/

# Standardish directories
_build/
build/
develop-eggs/
dist/
eggs/
htmlcov/
lib/
lib64/
log/
parts/
sdist/
temp/
var/

# Standardish extensions
*.code-workspace
*.coverage
*.egg
*.egg-info
*.env
*.log
*.patch
*.py[cod]
*.so
*.swp

# Miscellany
.DS_Store
.installed.cfg
Desktop.ini
pip-log.txt
wily-*

# Big lumps we should not need
*.html
*.pdf
*.xls
*.xlsx
